---
---
@charset "utf-8";

// Fonts
@font-face { font-family: 'expressway'; src: url("{{ "/fonts/expressway.ttf" | prepend: site.baseurl }}"); }
@font-face { font-family: 'glam'; src: url("{{ "/fonts/Glametrix.otf" | prepend: site.baseurl }}"); }
@font-face { font-family: 'glamlite'; src: url("{{ "/fonts/GlametrixLight.otf" | prepend: site.baseurl }}"); }


// Variables
$base-font-family: glamlite, Helvetica, Arial, sans-serif;
$base-font-size:   28px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.25;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #F5F5F5;
$brand-color:      #2a7ae2;
$brand-color-dark:  darken($brand-color, 25%);

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;


// Media queries
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
